/* You can add global styles to this file, and also import other style files */

body{
  
}

body::after {
    content: "";
    background-image: url("assets/food.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }


   
